@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

body {
  background: #0D1B2A;
  color: rgb(67, 67, 67);
  font-family: "Zain", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 1.4;
  font-style: normal;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

a {
  padding: 5px;
  color: inherit;
  text-decoration: none;
  border: 1px solid #0D1B2A;
  border-radius: 3px;
  font-size: 20pt;
}

a:visited {
  color: inherit
}
a:hover {
  background-color: #0D1B2A;
  color: white;
  border: 1px solid black;
  transition: 0.4s ease;
}

li {
  padding: 10px;
  margin: 10px;
  list-style: none;
}

ul {
  padding-inline-start: 0px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.container {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.card{
  background-color: white;
  border: 1px solid #E0E1DD;
  margin: 10px auto;
  padding: 30px;
  border-radius: 2px;
}

.img-circle {
  border: 2px solid black;
  border-radius: 50%;
}

.text-zain {
  font-family: "Zain", sans-serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 1.4;
  font-style: normal;
}
